@import 'variables';
@import 'mixin';
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
}


/*
* NAVIGATION
*/

.navWrapper {
    background-color: $primary;
    padding: 10px;
    .navMenu {
        @include alignCenter;
        justify-content: space-between;
        .rightContainer {
            @include alignCenter;
            .menuLinks {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 20px;
                }
                a {
                    color: $black;
                    text-transform: uppercase;
                }
            }
            .cartWrapper {
                width: 60px;
                height: 60px;
                cursor: pointer;
                position: relative;
                @include alignCenter;
                justify-content: center;
                border: 1px solid $secondary;
                .cart {
                    width: 20px;
                }
                .cartCounter {
                    width: 20px;
                    height: 20px;
                    background-color: $secondary;
                    @include alignCenter;
                    justify-content: center;
                    border-radius: 50%;
                    position: absolute;
                    top: -10px;
                    right: 5px;
                    p {
                        font-size: 10px;
                        font-weight: 600;
                        color: $white;
                        margin: 0;
                    }
                }
                &:hover {
                    background-color: $white;
                    .cartDropdown {
                        visibility: visible;
                        transition: 30s visibility ease-in;
                        transition-delay: .2s;
                    }
                }
                .cartDropdown {
                    visibility: hidden;
                    position: absolute;
                    bottom: -145px;
                    right: -1px;
                    max-width: 300px;
                    width: 300px;
                    border: 1px solid $secondary;
                    background-color: $white;
                    padding: 20px 0;
                    z-index: 20;
                    .emptyCart {
                        text-align: center;
                        img {
                            width: 60px;
                            margin-bottom: 10px;
                        }
                        p {
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}


/*
* PRODUCT SECTION
*/

.productSection {
    padding: 5% 0;
    .productCard {
        .productCategory {
            @include alignCenter;
            margin-bottom: 10px;
            padding-right: 14px;
            justify-content: space-between;
            p {
                text-transform: uppercase;
                margin: 0;
                color: $secondary;
            }
            svg {
                color: $secondary;
                width: 12px;
            }
        }
        .productImage {
            max-width: 250px;
            width: 100%;
            margin-bottom: 10px;
            cursor: pointer;
            &:hover {
                transform: rotateX(360deg);
            }
        }
    }
}