* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 13px;
  font-weight: 600; }

/*
* NAVIGATION
*/
.navWrapper {
  background-color: #f4f4f4;
  padding: 10px; }
  .navWrapper .navMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .navWrapper .navMenu .rightContainer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .navWrapper .navMenu .rightContainer .menuLinks {
        list-style: none;
        padding: 0;
        margin: 0; }
        .navWrapper .navMenu .rightContainer .menuLinks li {
          display: inline-block;
          margin-right: 20px; }
        .navWrapper .navMenu .rightContainer .menuLinks a {
          color: #000;
          text-transform: uppercase; }
      .navWrapper .navMenu .rightContainer .cartWrapper {
        width: 60px;
        height: 60px;
        cursor: pointer;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: 1px solid #b39964; }
        .navWrapper .navMenu .rightContainer .cartWrapper .cart {
          width: 20px; }
        .navWrapper .navMenu .rightContainer .cartWrapper .cartCounter {
          width: 20px;
          height: 20px;
          background-color: #b39964;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border-radius: 50%;
          position: absolute;
          top: -10px;
          right: 5px; }
          .navWrapper .navMenu .rightContainer .cartWrapper .cartCounter p {
            font-size: 10px;
            font-weight: 600;
            color: #fff;
            margin: 0; }
        .navWrapper .navMenu .rightContainer .cartWrapper:hover {
          background-color: #fff; }
          .navWrapper .navMenu .rightContainer .cartWrapper:hover .cartDropdown {
            visibility: visible;
            -webkit-transition: 30s visibility ease-in;
            -o-transition: 30s visibility ease-in;
            transition: 30s visibility ease-in;
            -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
            transition-delay: .2s; }
        .navWrapper .navMenu .rightContainer .cartWrapper .cartDropdown {
          visibility: hidden;
          position: absolute;
          bottom: -145px;
          right: -1px;
          max-width: 300px;
          width: 300px;
          border: 1px solid #b39964;
          background-color: #fff;
          padding: 20px 0;
          z-index: 20; }
          .navWrapper .navMenu .rightContainer .cartWrapper .cartDropdown .emptyCart {
            text-align: center; }
            .navWrapper .navMenu .rightContainer .cartWrapper .cartDropdown .emptyCart img {
              width: 60px;
              margin-bottom: 10px; }
            .navWrapper .navMenu .rightContainer .cartWrapper .cartDropdown .emptyCart p {
              text-transform: uppercase; }

/*
* PRODUCT SECTION
*/
.productSection {
  padding: 5% 0; }
  .productSection .productCard .productCategory {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 14px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .productSection .productCard .productCategory p {
      text-transform: uppercase;
      margin: 0;
      color: #b39964; }
    .productSection .productCard .productCategory svg {
      color: #b39964;
      width: 12px; }
  .productSection .productCard .productImage {
    max-width: 250px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer; }
    .productSection .productCard .productImage:hover {
      -webkit-transform: rotateX(360deg);
      transform: rotateX(360deg); }
